.App {
}

.List-item {
  text-align: left;
  border: 1px solid #2d97b3;
  padding: 0.5em 1em;
  margin: 1em;
  width: 330px;
  border-radius: 10px;
  box-shadow: 0 4px 14px 1px rgba(7, 0, 79, 0.1);
  transition: box-shadow 500ms ease, background-color 500ms ease;
}

.List-item:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: rgba(45, 151, 179, 0.1);
}

.Beatle-details {
  display: flex;
  width: 800px;
  justify-content: space-between;
  padding: 1em;
}

.Beatle-details .Beatle-image {
  height: 300px;
  border-radius: 10px;
}

.Beatle-details .Beatle-info {
  display: flex;
  flex-direction: column;
}

.Beatle-details .Beatle-signature {
  width: 250px;
  transform: rotate(30deg);
}

.Fact-list-item {
  text-align: left;
  border: 1px solid #2d97b3;
  padding: 0.5em 1em;
  margin: 1em;
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 14px 1px rgba(7, 0, 79, 0.1);
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}

.Loader img {
  width: 100px;
}

.Back-button {
  height: 50px;
  margin-left: 1em;
}

.Back-button:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
